In [2]:
import pandas as pd

df = pd.read_csv('./Dataset/train.csv')
df.head()

   id          img_path            artist
0   0  ./train/0000.jpg   Diego Velazquez
1   1  ./train/0001.jpg  Vincent van Gogh
2   2  ./train/0002.jpg      Claude Monet
3   3  ./train/0003.jpg       Edgar Degas
4   4  ./train/0004.jpg  Hieronymus Bosch

In [8]:
from collections import namedtuple

CityscapesClass = namedtuple('Art_class', ['name', 'id', 'train_label', 'category', 'category_id','count'])

counts = {}
for i in df['artist']:
    if i not in counts:
        counts[i] =0
    else:
        counts[i] +=1
print(counts)
labels = sorted(counts.items(), key=lambda x : x[1], reverse=True)
for i in range(len(labels)):
    counts[labels[0]]=i
print(counts)

{'Diego Velazquez': 80, 'Vincent van Gogh': 628, 'Claude Monet': 58, 'Edgar Degas': 488, 'Hieronymus Bosch': 114, 'Pierre-Auguste Renoir': 232, 'Rene Magritte': 136, 'Michelangelo': 33, 'Peter Paul Rubens': 96, 'Caravaggio': 31, 'Alfred Sisley': 164, 'Edouard Manet': 61, 'Rembrandt': 180, 'Francisco Goya': 203, 'Pablo Picasso': 302, 'Titian': 172, 'Mikhail Vrubel': 117, 'Leonardo da Vinci': 100, 'Kazimir Malevich': 90, 'Andy Warhol': 131, 'Vasiliy Kandinskiy': 59, 'Gustav Klimt': 68, 'Amedeo Modigliani': 131, 'Henri Rousseau': 51, 'Salvador Dali': 98, 'Pieter Bruegel': 84, 'Albrecht Du rer': 219, 'Paul Gauguin': 219, 'Sandro Botticelli': 119, 'Piet Mondrian': 58, 'Eugene Delacroix': 25, 'Paul Klee': 141, 'William Turner': 43, 'Marc Chagall': 172, 'Jan van Eyck': 63, 'Henri Matisse': 120, 'El Greco': 64, 'Gustave Courbet': 41, 'Andrei Rublev': 73, 'Jackson Pollock': 20, 'Edvard Munch': 43, 'Camille Pissarro': 63, 'Raphael': 72, 'Henri de Toulouse-Lautrec': 60, 'Joan Miro': 75, 'Giotto di Bondone': 71, 'Diego Rivera': 49, 'Frida Kahlo': 83, 'Georges Seurat': 29, 'Paul Cezanne': 32}
{'Diego Velazquez': 80, 'Vincent van Gogh': 628, 'Claude Monet': 58, 'Edgar Degas': 488, 'Hieronymus Bosch': 114, 'Pierre-Auguste Renoir': 232, 'Rene Magritte': 136, 'Michelangelo': 33, 'Peter Paul Rubens': 96, 'Caravaggio': 31, 'Alfred Sisley': 164, 'Edouard Manet': 61, 'Rembrandt': 180, 'Francisco Goya': 203, 'Pablo Picasso': 302, 'Titian': 172, 'Mikhail Vrubel': 117, 'Leonardo da Vinci': 100, 'Kazimir Malevich': 90, 'Andy Warhol': 131, 'Vasiliy Kandinskiy': 59, 'Gustav Klimt': 68, 'Amedeo Modigliani': 131, 'Henri Rousseau': 51, 'Salvador Dali': 98, 'Pieter Bruegel': 84, 'Albrecht Du rer': 219, 'Paul Gauguin': 219, 'Sandro Botticelli': 119, 'Piet Mondrian': 58, 'Eugene Delacroix': 25, 'Paul Klee': 141, 'William Turner': 43, 'Marc Chagall': 172, 'Jan van Eyck': 63, 'Henri Matisse': 120, 'El Greco': 64, 'Gustave Courbet': 41, 'Andrei Rublev': 73, 'Jackson Pollock': 20, 'Edvard Munch': 43, 'Camille Pissarro': 63, 'Raphael': 72, 'Henri de Toulouse-Lautrec': 60, 'Joan Miro': 75, 'Giotto di Bondone': 71, 'Diego Rivera': 49, 'Frida Kahlo': 83, 'Georges Seurat': 29, 'Paul Cezanne': 32, ('Vincent van Gogh', 628): 49}