In [10]:
import pandas as pd

df = pd.read_csv('./Dataset/train.csv')
df.head()

   id          img_path            artist
0   0  ./train/0000.jpg   Diego Velazquez
1   1  ./train/0001.jpg  Vincent van Gogh
2   2  ./train/0002.jpg      Claude Monet
3   3  ./train/0003.jpg       Edgar Degas
4   4  ./train/0004.jpg  Hieronymus Bosch

In [11]:
from collections import OrderedDict
classes = {}
for i in df['artist']:
    if i not in classes:
        # count 데이터 수
        classes[i] = 0
    else:
        classes[i] +=1
convert_labels = sorted(classes.items(), key=lambda x : x[1], reverse=True)
print(convert_labels)

for i in range(len(convert_labels)):
    classes[convert_labels[i][0]]=[i,convert_labels[i][1]]
print(classes)

[('Vincent van Gogh', 628), ('Edgar Degas', 488), ('Pablo Picasso', 302), ('Pierre-Auguste Renoir', 232), ('Albrecht Du rer', 219), ('Paul Gauguin', 219), ('Francisco Goya', 203), ('Rembrandt', 180), ('Titian', 172), ('Marc Chagall', 172), ('Alfred Sisley', 164), ('Paul Klee', 141), ('Rene Magritte', 136), ('Andy Warhol', 131), ('Amedeo Modigliani', 131), ('Henri Matisse', 120), ('Sandro Botticelli', 119), ('Mikhail Vrubel', 117), ('Hieronymus Bosch', 114), ('Leonardo da Vinci', 100), ('Salvador Dali', 98), ('Peter Paul Rubens', 96), ('Kazimir Malevich', 90), ('Pieter Bruegel', 84), ('Frida Kahlo', 83), ('Diego Velazquez', 80), ('Joan Miro', 75), ('Andrei Rublev', 73), ('Raphael', 72), ('Giotto di Bondone', 71), ('Gustav Klimt', 68), ('El Greco', 64), ('Jan van Eyck', 63), ('Camille Pissarro', 63), ('Edouard Manet', 61), ('Henri de Toulouse-Lautrec', 60), ('Vasiliy Kandinskiy', 59), ('Claude Monet', 58), ('Piet Mondrian', 58), ('Henri Rousseau', 51), ('Diego Rivera', 49), ('William Turner', 43), ('Edvard Munch', 43), ('Gustave Courbet', 41), ('Michelangelo', 33), ('Paul Cezanne', 32), ('Caravaggio', 31), ('Georges Seurat', 29), ('Eugene Delacroix', 25), ('Jackson Pollock', 20)]
{'Diego Velazquez': [25, 80], 'Vincent van Gogh': [0, 628], 'Claude Monet': [37, 58], 'Edgar Degas': [1, 488], 'Hieronymus Bosch': [18, 114], 'Pierre-Auguste Renoir': [3, 232], 'Rene Magritte': [12, 136], 'Michelangelo': [44, 33], 'Peter Paul Rubens': [21, 96], 'Caravaggio': [46, 31], 'Alfred Sisley': [10, 164], 'Edouard Manet': [34, 61], 'Rembrandt': [7, 180], 'Francisco Goya': [6, 203], 'Pablo Picasso': [2, 302], 'Titian': [8, 172], 'Mikhail Vrubel': [17, 117], 'Leonardo da Vinci': [19, 100], 'Kazimir Malevich': [22, 90], 'Andy Warhol': [13, 131], 'Vasiliy Kandinskiy': [36, 59], 'Gustav Klimt': [30, 68], 'Amedeo Modigliani': [14, 131], 'Henri Rousseau': [39, 51], 'Salvador Dali': [20, 98], 'Pieter Bruegel': [23, 84], 'Albrecht Du rer': [4, 219], 'Paul Gauguin': [5, 219], 'Sandro Botticelli': [16, 119], 'Piet Mondrian': [38, 58], 'Eugene Delacroix': [48, 25], 'Paul Klee': [11, 141], 'William Turner': [41, 43], 'Marc Chagall': [9, 172], 'Jan van Eyck': [32, 63], 'Henri Matisse': [15, 120], 'El Greco': [31, 64], 'Gustave Courbet': [43, 41], 'Andrei Rublev': [27, 73], 'Jackson Pollock': [49, 20], 'Edvard Munch': [42, 43], 'Camille Pissarro': [33, 63], 'Raphael': [28, 72], 'Henri de Toulouse-Lautrec': [35, 60], 'Joan Miro': [26, 75], 'Giotto di Bondone': [29, 71], 'Diego Rivera': [40, 49], 'Frida Kahlo': [24, 83], 'Georges Seurat': [47, 29], 'Paul Cezanne': [45, 32]}

In [12]:
new_df = pd.read_csv('./Dataset/artists_info.csv')
print(len(new_df))
new_df.head()

50

                 name        years                         genre nationality
0   Amedeo Modigliani  1884 - 1920                 Expressionism     Italian
1  Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
2        Diego Rivera  1886 - 1957       Social Realism,Muralism     Mexican
3        Claude Monet  1840 - 1926                 Impressionism      French
4       Rene Magritte  1898 - 1967      Surrealism,Impressionism     Belgian

In [13]:
# classes [label, count, years, genre, nationality]
for name in classes.keys():
    for i in range(len(new_df)):
        if new_df.loc[i]['name'] == name:
            classes[name].extend(new_df.loc[i].iloc[1:])
            classes[name] = tuple(classes[name])
classes = OrderedDict(sorted(classes.items(), key = lambda t : t[1][1],reverse=True))
for i in range(50):
    print(list(classes.keys())[i])
    print(classes[list(classes.keys())[i]])

Vincent van Gogh
(0, 628, '1853 – 1890', 'Post-Impressionism', 'Dutch')
Edgar Degas
(1, 488, '1834 - 1917', 'Impressionism', 'French')
Pablo Picasso
(2, 302, '1881 - 1973', 'Cubism', 'Spanish')
Pierre-Auguste Renoir
(3, 232, '1841 - 1919', 'Impressionism', 'French')
Albrecht Du rer
(4, 219, '1471 - 1528', 'Northern Renaissance', 'German')
Paul Gauguin
(5, 219, '1848 – 1903', 'Symbolism,Post-Impressionism', 'French')
Francisco Goya
(6, 203, '1746 - 1828', 'Romanticism', 'Spanish')
Rembrandt
(7, 180, '1606 - 1669', 'Baroque', 'Dutch')
Titian
(8, 172, '1488 - 1576', 'High Renaissance,Mannerism', 'Italian')
Marc Chagall
(9, 172, '1887 - 1985', 'Primitivism', 'French,Jewish,Belarusian')
Alfred Sisley
(10, 164, '1839 - 1899', 'Impressionism', 'French,British')
Paul Klee
(11, 141, '1879 – 1940', 'Expressionism,Abstractionism,Surrealism', 'German,Swiss')
Rene Magritte
(12, 136, '1898 - 1967', 'Surrealism,Impressionism', 'Belgian')
Andy Warhol
(13, 131, '1928 – 1987', 'Pop Art', 'American')
Amedeo Modigliani
(14, 131, '1884 - 1920', 'Expressionism', 'Italian')
Henri Matisse
(15, 120, '1869 - 1954', 'Impressionism,Post-Impressionism', 'French')
Sandro Botticelli
(16, 119, '1445 - 1510', 'Early Renaissance', 'Italian')
Mikhail Vrubel
(17, 117, '1856 - 1910', 'Symbolism', 'Russian')
Hieronymus Bosch
(18, 114, '1450 - 1516', 'Northern Renaissance', 'Dutch')
Leonardo da Vinci
(19, 100, '1452 - 1519', 'High Renaissance', 'Italian')
Salvador Dali
(20, 98, '1904 - 1989', 'Surrealism', 'Spanish')
Peter Paul Rubens
(21, 96, '1577 - 1640', 'Baroque', 'Flemish')
Kazimir Malevich
(22, 90, '1879 - 1935', 'Suprematism', 'Russian')
Pieter Bruegel
(23, 84, '1525 - 1569', 'Northern Renaissance', 'Flemish')
Frida Kahlo
(24, 83, '1907 - 1954', 'Primitivism,Surrealism', 'Mexican')
Diego Velazquez
(25, 80, '1599 - 1660', 'Baroque', 'Spanish')
Joan Miro
(26, 75, '1893 – 1983', 'Surrealism', 'Spanish')
Andrei Rublev
(27, 73, '1360 - 1430', 'Byzantine Art', 'Russian')
Raphael
(28, 72, '1483 – 1520', 'High Renaissance', 'Italian')
Giotto di Bondone
(29, 71, '1266 - 1337', 'Proto Renaissance', 'Italian')
Gustav Klimt
(30, 68, '1862 - 1918', 'Symbolism,Art Nouveau', 'Austrian')
El Greco
(31, 64, '1541 - 1614', 'Mannerism', 'Spanish,Greek')
Jan van Eyck
(32, 63, '1395 - 1441', 'Northern Renaissance', 'Flemish')
Camille Pissarro
(33, 63, '1830 - 1903', 'Impressionism,Post-Impressionism', 'French')
Edouard Manet
(34, 61, '1832 - 1883', 'Realism,Impressionism', 'French')
Henri de Toulouse-Lautrec
(35, 60, '1864 – 1901', 'Post-Impressionism', 'French')
Vasiliy Kandinskiy
(36, 59, '1866 - 1944', 'Expressionism,Abstractionism', 'Russian')
Claude Monet
(37, 58, '1840 - 1926', 'Impressionism', 'French')
Piet Mondrian
(38, 58, '1872 – 1944', 'Neoplasticism', 'Dutch')
Henri Rousseau
(39, 51, '1844 – 1910', 'Primitivism', 'French')
Diego Rivera
(40, 49, '1886 - 1957', 'Social Realism,Muralism', 'Mexican')
William Turner
(41, 43, '1775 - 1851', 'Romanticism', 'British')
Edvard Munch
(42, 43, '1863 - 1944', 'Symbolism,Expressionism', 'Norwegian')
Gustave Courbet
(43, 41, '1819 - 1877', 'Realism', 'French')
Michelangelo
(44, 33, '1475 – 1564', 'High Renaissance', 'Italian')
Paul Cezanne
(45, 32, '1839 – 1906', 'Post-Impressionism', 'French')
Caravaggio
(46, 31, '1571 - 1610', 'Baroque', 'Italian')
Georges Seurat
(47, 29, '1859 – 1891', 'Post-Impressionism', 'French')
Eugene Delacroix
(48, 25, '1798 – 1863', 'Romanticism', 'French')
Jackson Pollock
(49, 20, '1912 – 1956', 'Abstract Expressionism', 'American')

In [14]:
temp_df = df[df['artist']=='Vincent van Gogh']
temp_df.head()

    id          img_path            artist
1    1  ./train/0001.jpg  Vincent van Gogh
16  16  ./train/0016.jpg  Vincent van Gogh
41  41  ./train/0041.jpg  Vincent van Gogh
45  45  ./train/0045.jpg  Vincent van Gogh
46  46  ./train/0046.jpg  Vincent van Gogh

In [15]:
print(f'total data : {len(df)}')
for i in classes:
    print(i)
    if classes[i][1] > 200:
        a = df[df['artist']==i]
        drop_index = list(a.sample(classes[i][1]-200,random_state=41)['id'])
        print(-len(drop_index))
        df.drop(index=drop_index,inplace=True,axis=0)
print(f'ater data : {len(df)}')

total data : 5911
Vincent van Gogh
-428
Edgar Degas
-288
Pablo Picasso
-102
Pierre-Auguste Renoir
-32
Albrecht Du rer
-19
Paul Gauguin
-19
Francisco Goya
-3
Rembrandt
Titian
Marc Chagall
Alfred Sisley
Paul Klee
Rene Magritte
Andy Warhol
Amedeo Modigliani
Henri Matisse
Sandro Botticelli
Mikhail Vrubel
Hieronymus Bosch
Leonardo da Vinci
Salvador Dali
Peter Paul Rubens
Kazimir Malevich
Pieter Bruegel
Frida Kahlo
Diego Velazquez
Joan Miro
Andrei Rublev
Raphael
Giotto di Bondone
Gustav Klimt
El Greco
Jan van Eyck
Camille Pissarro
Edouard Manet
Henri de Toulouse-Lautrec
Vasiliy Kandinskiy
Claude Monet
Piet Mondrian
Henri Rousseau
Diego Rivera
William Turner
Edvard Munch
Gustave Courbet
Michelangelo
Paul Cezanne
Caravaggio
Georges Seurat
Eugene Delacroix
Jackson Pollock
ater data : 5020

In [16]:
from collections import Counter
labels = []
imgs = []
print(f'len df : {len(df)}')
print(df.head())
for i in range(len(df)):
    labels.append(classes[df['artist'].iloc[i]][0])
    imgs.append([df['img_path'].iloc[i]])
print(imgs[:5])
print(labels[:5])
print(Counter(labels))

len df : 5020
   id          img_path                 artist
0   0  ./train/0000.jpg        Diego Velazquez
2   2  ./train/0002.jpg           Claude Monet
4   4  ./train/0004.jpg       Hieronymus Bosch
5   5  ./train/0005.jpg  Pierre-Auguste Renoir
6   6  ./train/0006.jpg          Rene Magritte
[['./train/0000.jpg'], ['./train/0002.jpg'], ['./train/0004.jpg'], ['./train/0005.jpg'], ['./train/0006.jpg']]
[25, 37, 18, 3, 12]
Counter({3: 201, 6: 201, 1: 201, 2: 201, 0: 201, 4: 201, 5: 201, 7: 181, 8: 173, 9: 173, 10: 165, 11: 142, 12: 137, 13: 132, 14: 132, 15: 121, 16: 120, 17: 118, 18: 115, 19: 101, 20: 99, 21: 97, 22: 91, 23: 85, 24: 84, 25: 81, 26: 76, 27: 74, 28: 73, 29: 72, 30: 69, 31: 65, 32: 64, 33: 64, 34: 62, 35: 61, 36: 60, 37: 59, 38: 59, 39: 52, 40: 50, 41: 44, 42: 44, 43: 42, 44: 34, 45: 33, 46: 32, 47: 30, 48: 26, 49: 21})

In [17]:
from imblearn.over_sampling import RandomOverSampler, SMOTE
oversampling = RandomOverSampler(random_state=42)
x_over, y_over = oversampling.fit_resample(imgs, labels)
print(x_over[:5])
print(y_over[:5])
print(x_over[-5:])
print(y_over[-5:])

print(len(x_over), Counter(y_over))

[['./train/0000.jpg'], ['./train/0002.jpg'], ['./train/0004.jpg'], ['./train/0005.jpg'], ['./train/0006.jpg']]
[25, 37, 18, 3, 12]
[['./train/3208.jpg'], ['./train/2583.jpg'], ['./train/3208.jpg'], ['./train/3208.jpg'], ['./train/0788.jpg']]
[49, 49, 49, 49, 49]
10050 Counter({25: 201, 37: 201, 18: 201, 3: 201, 12: 201, 44: 201, 21: 201, 46: 201, 10: 201, 34: 201, 7: 201, 6: 201, 1: 201, 2: 201, 8: 201, 17: 201, 19: 201, 22: 201, 13: 201, 36: 201, 30: 201, 14: 201, 39: 201, 20: 201, 23: 201, 0: 201, 4: 201, 5: 201, 16: 201, 38: 201, 48: 201, 11: 201, 41: 201, 9: 201, 32: 201, 15: 201, 31: 201, 43: 201, 27: 201, 49: 201, 42: 201, 33: 201, 28: 201, 35: 201, 26: 201, 29: 201, 40: 201, 24: 201, 47: 201, 45: 201})

In [18]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, random_state=42, shuffle=True)

for train, test in kf.split(x_over,y_over):
    print(train[:5])
    print(test[:5])

[1 2 4 5 6]
[ 0  3  8 10 12]
[0 1 2 3 4]
[17 26 30 41 45]
[0 1 3 4 5]
[ 2 15 27 28 34]
[0 1 2 3 4]
[ 6  7 16 18 22]
[0 2 3 6 7]
[ 1  4  5  9 11]